* {
    margin: 0;
    padding: 0
}




header {
	text-align: center;
    background-color: #018fa7;
    height: 150px -webkit-box-shadow: 10px 15px 50px 3px #656565;
    -moz-box-shadow: 10px 15px 50px 3px #656565;
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=10, OffY=15, Color='#656565', Positive='true');
    zoom: 1;
    box-shadow: 10px 15px 50px 3px #656565;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: dimgrey;
    width: 100%;
}

.titre{
	position:absolute;
	top: 400px;
	left: 500px;
	
	
	
}

.soustitre{
	
	position:fixed;
	top: 600px;
	left: 550px;
	
	
	font: normal 15pt verdana, Trebuchet MS, sans-serif;
}
#muuf {
    justify-content: center;
    z-index: 1;
}

#efficace {

    position: fixed;
    top: 20px;
    right: 20px;
}

#dauphin {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

aside {
    font-family: Helvetica, sans-serif;
    width: 200px;
    height: 100%;
    background: linear-gradient(#018fa7, #018fa7, #018fa7, white);
    /*background-color: #018fa7;*/
    position: fixed;
    top: 0;
    left: 0;
}

.c1 {
    font-family: Helvetica, sans-serif;
    height: 20px;

    background-color: #434242;


    text-align: right;
}

.voitAnim{
    position: fixed;
    top: 670px;
    right: 0px;
    z-index: 0;
    
    
    
}


.menu {
	position:absolute;
	top: 340px;
	left: 210px;
}
.button {
	
	margin-top: 30px;
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #00687a;
    border-radius: 8px;
    background: #00758a;
    background: -webkit-gradient(linear, left top, left bottom, from(#00758a), to(#00badb));
    background: -moz-linear-gradient(top, #00758a, #00badb);
    background: linear-gradient(to bottom, #00758a, #00badb);
    -webkit-box-shadow: #949494 0px 0px 40px 0px;
    -moz-box-shadow: #949494 0px 0px 40px 0px;
    box-shadow: #949494 0px 0px 40px 0px;
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px Helvetica;
    color: #ffffff;
    text-decoration: none;
}

.button:hover,
.button:focus {
    border: 1px solid #00a6c3;
    background: #008ca6;
    background: -webkit-gradient(linear, left top, left bottom, from(#008ca6), to(#00dfff));
    background: -moz-linear-gradient(top, #008ca6, #00dfff);
    background: linear-gradient(to bottom, #008ca6, #00dfff);
    color: #ffffff;
    text-decoration: none;
}

.button:active {
    background: #004653;
    background: -webkit-gradient(linear, left top, left bottom, from(#004653), to(#00badb));
    background: -moz-linear-gradient(top, #004653, #00badb);
    background: linear-gradient(to bottom, #004653, #00badb);
}

.button:before {
    content: "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAEx0lEQVRIia2VfWhVdRjHP/ecc7frvXvVtbeYzusLy5fJjHxBSVkGUkynJf4ziJQCq1mJEYJJEtEfEQUGEUqiQVR/aC++FtV0c7pw0ticOt3ddvd2d7fde3ffz73nnF9/nDO9hEmDHng48OP5fV+e5+H8ZGYY9QspXlfG6ifymSNpxMdUkjPFeGQ0vVVyXIw2C6P3rAg2faR2fr61+fud2bvKHDj+F4JfGsu+E7EhISKDQkSGhIj7hBi5JHqPbbv1aS3r/1kvzZhBCFBDVgYh5gd7Ie5tH1a9cuj9306+6NyVWa7M3IMBqTDoBiBMQpMZ16JNWS806l+GIh/49l7kHIA8U/iGFWKHOz+y1KZOQnYe6BroCdCToMWxF8yVKnKiz7Zdu/PVYIyEXF1EztPlLOwOMGlKenRsmZ/e4fJ3Lo12XcbmuUD27DngKAQtDloS0jFyy+a5SoJX9G9uqL/LR7ay9+CBhh92b3hs90s1tlWbK6by1ZiI3Q4SfBjhunlsyHOwTFGwJ5MqmudPXGXlYHeCljDdCLCl/BXHzg9+Yft6O4cb3nz9EK55Jl4qSHrCYwx6vf1To4Otnr6Ri8fbROvZXjwWx2ygsqqIqlef5OXnFlFb4S6VnOv3gK5bkgTqWBeb955ersRT6AQ8ILnuC7YXzpPcs+e7qTHcNVqooW7HoDE0MnwvMuFrudkz/uvRZlqavNzYd5Fz3jDvvZvn2+dUvWBzmkPXIdthZ0ERc5WbfnpEaABbbgUI40FXJGEusSTIKiqT3MWPL0YyFq+ondq1fafPaG/vurD+cPj5z65yePNyNpYagZWgmgSGDSbbkGQU5coQt6OBcXKLgyaBTZi7lbF+5keAAUjgsAWkrMlwFeaah6W8WbeR1JXoqgke6AZ1AGRQun0M+QPhUK4aKADjAbicAc60GwMxchf/tTEiMTTAOPgMS1atLdmCMQV6GsL3QA2ABFoaQ0kYhCZDqndBsLuAnCJANl1IwsS/70RH7+3H1x5nRCV8ooOPjzZQW19XeDy/ODsHtRcS45gDgLgfhsNMKIAWiOMhOVqN4QOnCxxOsNlBsmUsqI4oBmeNgjEmAgfXyO+459sXy0oaUnfN9trNFpKCgT5CV4fwKABjUbpRqEcRQBT0KGiAJJkp28AGSh4UFsLqpVQi0iBSpstsU/h0Jm5Ch5/LkaTpgA4fHQKwKdbYFEw1imGldSZbabMSzMEbFrgBWieMDKOd7OAIYCgAl/roSajgzLMA7KZNBJCTcSZbRJn/YGERqJBuBb8HzvRz8vwtLmOV0zXKkD9CqLKUAuwgpiDQbra1sBLk5UBJBomU4UAF0QfRFggmodlP076fOWBJNAlSOqHxMN5KOwViFMa7YVgQlUGJ9uNweSCnHLKrQCoFHCA00Ccg3gNTXkgJjDP9nNr/E28bBv5pg9PvgTY1yT29i2r/OPRp+PZfYE8gRvyNdTSuLWdjSYAcpQ2UWSBbm4wG0TTGjQDdx65z5Ewn3wLhjAY+eHCGE3SNhdj+V5yu106ze2CS64DReIqWHAdL6paxafVcnipyUZyloERUQnfG6fmxkz/u+GgFJqxpPDzqqlnzST0nnFm4/7UIHNbY8wAnM3wRJSBrJhf+S/wNbS430494JFMAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}
